:root {
    --gridSize: 8;
    --fleetButtonSize: 15px;
}

html {
    font-size: 70%;
    box-sizing: border-box;
    min-height: 100%;
    font-family: 'Bebas Neue', cursive;
    background-color: #6c6e75;
}

body {
    min-height: 100%;
    height: 95vh;
    box-sizing: border-box;
}

.intro-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.intro-title {
    font-size: 40px;
}

.intro-message {
    font-size: 15px;
    margin: 1rem;
}

.intro-button {
    border: solid 2px black;
    border-radius: 10px;
    padding: 10px;
    
}

.intro-button:hover {
    background-color: bisque;
    cursor: pointer;
}

.stage-info {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.stage-temp-messages {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    animation-name: pulse;
    animation-duration: 2s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.game-title {
    min-width: 100%;
    display: flex;
    justify-content: center;
}

.game-title-content {
    font-size: 70px;
}

.playing-field {
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.player-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-field-grid {
    display: grid;
    grid-template-columns: repeat(var(--gridSize), 1fr);
    grid-template-rows: repeat(var(--gridSize), 1fr);
    margin: 10px;

    background: #3b648e;
    /* background: linear-gradient(
        135deg,
        rgba(0, 80, 122, 1) 0%,
        rgba(0, 93, 143, 1) 46%,
        rgba(0, 106, 163, 1) 100%
    ); */
    border: solid 1px black;
}

.player-title {
    font-size: 30px;
}

.player-field-message {
    font-size: 18px;
    margin-bottom: 10px;
    opacity: 0;
    min-height: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

.battleship-square {
    cursor: pointer;
}

.testGrid-empty,
.battleship-square--empty {
    background-color: transparent;
    border: solid 1px rgba(0, 0, 0, 0.25);
}

.battleship-square--ship {
    background-color: #8494b4;
    border: solid 1px #495057;
  }
  
.battleship-square--empty-hit {
    background-color: #384560;
    border: solid 1px rgba(0, 0, 0, 0.25);
}
  
.battleship-square--ship-hit {
    background-color: #d62828;
    border: solid 1px #ac2020;
}
  
.battleship-square--ship-sunk {
    background-color: #000814;
    border: solid 1px #000814;
}
  
.battleship-square--place-highlight {
    background-color: #44ac8d;
    border: solid 1px #307354;
}
  
.battleship-square--place-highlight-invalid {
    background-color: #ef1a1e;
    border: solid 1px #660708;
}

.hidden {
    display: none;
}

.message {
    animation-duration: 5s;
    animation-name: fadeout;
    animation-timing-function: ease-out;
}

.miss-message {
    color: #003049;
}

.hit-message {
    color: #ae2012;
}
.sunk-message {
    color: #9b2226;
}

.placement-preview-space {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.rotate-button {
    padding: 5px;
    border: solid 3px black;
    border-radius: 10px;
    background-color: blanchedalmond;
    margin: 5px;
}

.rotate-button:hover {
    background-color: gray;
    cursor: pointer;
}

.test-grid {
    width: max(10vw, 10vh);
    height: max(10vw, 10vh);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: #005f73;
    margin: 5px;
}

.fleet-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: max(10vw, 10vh);
    height: max(10vw, 10vh);
    margin: 10px;
}

.test-ship {
    background-color: #ee9b00;
    border: solid 3px #b87700;
}

.reset-field {
    display: flex;
    width: 100%;
    justify-content: center;
}

.reset-field-button {
    padding: 5px;
    border: solid 3px black;
    border-radius: 10px;
    background-color: blanchedalmond;
    font-size: 20px;
    font-weight: 900;
}

.reset-field-button:hover {
    background-color: gray;
    cursor: pointer;
}

.fleet-wrapper-button {
    background-color: #ef1a1e;
    border: none;
    margin: 1px;
    border: solid 3px #ac2020;
}

.fleet-wrapper-button:hover {
    background-color: #660708;
}

.fleet-button-highlight {
    background-color: #660708;
  }

@media (max-width: 500px) {
    .player-field-grid {
        width: clamp(200px, min(90vw, 40vh), 380px);
        height: clamp(200px, min(90vw, 40vh), 380px);
    }
  
    .playing-field {
      flex-direction: column;
    }
  
    .player-field-grid--mini {
      width: clamp(100px, 35vw, 200px);
      height: clamp(100px, 35vw, 200px);
    }
    .placement-wrapper {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .player-field-message {
      font-size: 1rem;
      margin-bottom: 0.5rem;
      opacity: 0;
      min-height: 2rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  
    .player-title {
      font-size: 1.2rem;
    }
  
    .intro-title {
      font-size: 2rem;
    }
}

@media (min-width: 501px) {
    .player-field-grid {
      width: min(40vw, 65vh);
      height: min(40vw, 65vh);
    }
  
    .playing-field {
      flex-direction: row;
      justify-content: center;
    }
  
    .placement-wrapper {
      flex-direction: column;
    }
    .player-field-message {
      max-width: min(40vw, 65vh);
    }
}

@keyframes pulse {
    0% {
      opacity: 0;
    }
  
    30% {
      opacity: 1;
    }
  
    60% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
}

@keyframes fadeout {
    0% {
      opacity: 1;
    }
  
    60% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
}